version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - mentortutor-network

  java-app:
    environment:
      - MONGODB_URI=${MONGODB_URI}
      - SSL_KEY_STONE_PASSWORD=${SSL_KEY_STONE_PASSWORD}
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mentortutor-app
    depends_on:
      - mongodb
    networks:
      - mentortutor-network

networks:
  mentortutor-network:
    external: true

volumes:
  mongo_data:
